# Hugging Face
HF_TOKEN=

# Paths
ET_DATA_DIR=./data
ET_RESULTS_DIR=./results
ET_CACHE_DIR=./cache
ET_LOCAL_SAMPLE_FILE=./data/starcoder_1m_tokens.txt
ET_HF_DISK_DATASET_FALLBACK=./data/test
ET_SIMPY_DIR=./third_party/Simpy-master

# Eval dataset
ET_EVAL_DATASET=zhensuuu/starcoderdata_100star_py
ET_EVAL_NUM_SAMPLES=1000
